*{
    padding: 0px;
    margin: 0px;
    
}
body{
    background-image:url("/Untitled.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    
    margin-top: 150px;
    
    border: 1.5px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    height: 400px;
    width: 300px;
    border-top-color:	#DB4437;
    border-left-color: #4285F4;
    border-bottom-color: #0F9D58;
    border-right-color: #F4B400;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition:0.5s;
    
   

}
#box:hover{
    box-shadow: 	0px 3px 3px 0px rgba(0,0,0,0.12),
		0px 3px 6px 0px rgba(0,0,0,0.22),
		0px 5px 10px 0px rgba(0,0,0,0.2);
}


#box input{
    height: 30px;
    width: 210px;
    border-radius: 15px;
    outline: none;
    border: none;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.256);
    
}
::placeholder{
    color: rgb(100, 68, 68);
}

#icon{
    background-image: url("/Gmail-Logo.png");
    background-size: cover;
    position:fixed;
    padding-right: 2px;
    
    height:60px;
    width: 100px;
    transition: 0.4s;
    
    margin-bottom:250px;
}

#icon:hover{
    margin-bottom: 260px;

}


#btn{
    height: 30px;
    width: 130px;
    border-radius: 45px;
    outline: none;
    border: none;
    transition: 0.4s;
    color: rgb(68, 66, 66);
    background-color: orange;

}

#btn:hover {
    color: rgba(236, 234, 234, 0.868);
    background-color: rgb(196, 137, 20);
    
}


#uid,#psd{
    transition: 0.3s;
    
}
#uid{
    margin-top: 120px;
}
#uid:hover{
    background-color: rgba(255, 255, 255, 0.4);
    
}
#psd:hover{
    background-color: rgba(255, 255, 255, 0.4);
    
}




